<%= form_with(url: articles_path, method: "get", class: "search-container") do |form| %>
  <div class="search-wrapper">
    <%= form.text_field :search, class: "search-form", placeholder: "記事を検索" %>
    <span class="search-icon">
      <%= image_tag "search-icon.png", alt: "検索アイコン" %>
    </span>
  </div>
  <%= form.submit "検索", class: "search-button" %>
<% end %>

<% if params[:search].present? %>
  <p>
    検索ワード：<%= params[:search] %>
  </p>
  <p>
    <% if @articles.any? %>
      <%= @articles.total_count %>件の記事が見つかりました
    <% else %>
      該当する記事は見つかりませんでした
    <% end %>
  </p>
<% end %>

<div class="article-container">
  <% @articles.each do |article| %>
    <div class="article-item-wrapper">
      <div class="article-title">
        <h3><%= link_to article.title, article %></h3>
        <p class="article-excerpt">
          <%= truncate(article.body, length: 30) %>
        </p>
        <div class="article-author">
          <p>作成者：<%= article.user.name %></p>
          <p><%= article.created_at.strftime("%Y年%m月%d日")%></p>
          <p><%= render "favorites/btn", article: article %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @articles %>
