<h1>RoRでブログを作成</h1>

<% if logged_in? %>
  <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete, turbo_confirm: " 本当にログアウトしますか？"} %>
<% else %>
  <%= link_to "ログイン", login_path %>
  <%= link_to "新規登録", new_user_path %>
<% end %>

<%= form_tag(root_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag "検索", :name => nil %>
<% end %>

<% if params[:search].present? %>
  <p>
    検索ワード：<%= params[:search] %>
  </p>
  <p>
    <% if @articles.any? %>
      <%= @articles.total_count %>件の記事が見つかりました
    <% else %>
      該当する記事は見つかりませんでした
    <% end %>
  </p>
<% end %>

<% if logged_in? %>
  <%= link_to "新規作成", new_article_path %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= paginate @articles %>
