<h1>新規作成</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label "お名前" %><br>
    <%= form.text_field :name%>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "メールアドレス" %><br>
    <%= form.text_field :email %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "パスワード" %><br>
    <%= form.text_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "プロフィール画像" %><br>
    <%= form.file_field :avatar, accept: 'image/jpeg,image/png' %>
  </div>

  <div>
    <%= form.submit "新規登録"%>
  </div>
<% end %>
